<link rel="stylesheet" href="https://use.typekit.net/akl1lbd.css">

<h1>Home</h1>

<form id="author-form" action="/board" method="post" target="_blank">
    <div class="form-row">
        <label for="author-input">Author</label>
        <input type="text" name="author" id="author-input" required minlength="1" required maxlength="20">
    </div>
    <div class="form-controls">
        <button type="submit" class="inputbox">Join</button>
    </div>
</form>